.radio-container {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    margin: 8px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border: 1px solid #777582;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #FFFFFF;
}

.radio-container input:checked ~ .checkmark {
    background-color: #8800CC;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}
