.form {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.label {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #4C4A57;
}

.email {
    width: 100%;
    border-radius: 4px;
    background: #F3F3F5;
    border: none;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.email:focus {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #C550FF;
}

.valid {
    outline: none;
    border: 1px solid #00873F;
    background: #F3F3F5;
}

.invalid {
    outline: none;
    border: 1px solid #C41337;;
    background: #FFFFFF;
}

.error {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #C41337;
}

.radios {
    font-size: 14px;
    color: #1B1A21;
    display: flex;
    margin-top: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input[name="important"] {
    margin: 8px 8px 8px 0;
}

.button {
    margin-top: 50px;
    background: #8800CC;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    outline: 0;
    border: none;
    padding: 10px 16px;
    align-self: center;
    cursor: pointer;
}

.button:hover, .button:focus {
    background: #AA00FF;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}

.button:active {
    background: #8800CC;
}


